@font-face {
    font-family: 'comfortaabold';
    src: url('../fonts/comfortaa_bold-webfont.eot');
    src: url('../fonts/comfortaa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa_bold-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa_bold-webfont.woff') format('woff'),
         url('../fonts/comfortaa_bold-webfont.ttf') format('truetype'),
         url('../fonts/comfortaa_bold-webfont.svg#comfortaabold') format('svg');
    font-weight: bold;
    font-style: normal;

}

body {
	background: url(../img/paper.jpg);
	background-size: cover;
  font-family: "Nilland", "Futura", sans-serif;
}

h1 {
  font-family: "comfortaabold";
}

label {
  display: block;
}

footer a {}

.list-link {}