@font-face {
    font-family: 'comfortaabold';
    src: url('../fonts/comfortaa_bold-webfont.eot');
    src: url('../fonts/comfortaa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa_bold-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa_bold-webfont.woff') format('woff'),
         url('../fonts/comfortaa_bold-webfont.ttf') format('truetype'),
         url('../fonts/comfortaa_bold-webfont.svg#comfortaabold') format('svg');
    font-weight: bold;
    font-style: normal;

}

html {
  height: 100%;
}

body {
  background: url(../img/paper.jpg);
  background-size: cover;
  font-family: "Nilland", "Futura", sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #474747;
  font-size: 14px;
}

header {}

h1 {
  background-color: #ffa375;
  font-family: "comfortaabold";
  margin: 0;
  line-height: 2em;
  text-align: center;
  whitespace: nowrap;
}

label {
  display: block;
}

a {
  color: #005e75;
  text-decoration: none;
}

footer {
  background-color: #e9ff42;
  padding: .5em;
  display: flex;
  flex-direction: row;
}
footer a {
  flex-grow: 1;
  text-align: center;
}

#content {
  flex-grow: 1;
}

.addBtn {
  position: absolute;
  right: 0;
  display: inline-block;
  padding: 0 .2em;
  font-size: 2em;
}
.listlink {
  padding: .5em;
}

.listlink .members {
  display: none;
}

.members {
  background-color: #77afbf;
  display: flex;
  padding: .5em;
}

.thumb img {
  display: block;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  margin-right: .5em;
}
