@font-face {
    font-family: 'comfortaabold';
    src: url('../fonts/comfortaa_bold-webfont.eot');
    src: url('../fonts/comfortaa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa_bold-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa_bold-webfont.woff') format('woff'),
         url('../fonts/comfortaa_bold-webfont.ttf') format('truetype'),
         url('../fonts/comfortaa_bold-webfont.svg#comfortaabold') format('svg');
    font-weight: bold;
    font-style: normal;

}

html {
  height: 100%;
}

body {
	background: url(../img/paper.jpg);
	background-size: cover;
  font-family: "Nilland", "Futura", sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #474747;
}

header {}

h1 {
  background-color: #ffa375;
  font-family: "comfortaabold";
  margin: 0;
  line-height: 2em;
  text-align: center;
}

label {
  display: block;
}

a {
  text-decoration: none;
}

footer {
  background-color: #e9ff42;
  padding: .5em;
  display: flex;
  flex-direction: row;
}
footer a {
  flex-grow: 1;
  text-align: center;
}

#content {
  flex-grow: 1;
}

.listlink {
  padding: .5em;
}