<!-- addItem.jst -->
<label>Photo:
  <input type="file" capture="camera" id="img" /></label>
<label>Notes:
  <textarea rows="2" id="note"></textarea></label>
<label>Link:
  <input type="text" placeholder="//fancee.it" id="link" /></label>
<label>Date:
  <input type="date" id="date" /></label>
<label>Location:
  <input type="text" placeholder="39.474145,-0.380812" id="latlong" /></label>

<input type="submit" id="saveItem" value="Add" />
<!-- /addItem.jst -->