<!-- allLists.jst -->
<a href="/addList" id="addList" class="addBtn">+</a>
<h1>{{= it.name }}'s fancees</h1>
<div class="lists">
  {{~ it.lists :l }}
    {{? l }}
    {{# def.listlink }}
    {{?}}
  {{~}}
</div>
<!-- /allLists.jst -->