<!-- list.jst -->
<h1>{{= it.title.noun }} {{= it.title.pronoun }} fancee {{= it.title.verb }}
  <a href="/list/{{= it.id }}/addItem" id="addItem" class="addBtn">+</a>
</h1>
<div class="members">
  {{~ it.members :member }}
    {{? member }}
    {{# def.memberthumb }}
    {{?}}
  {{~}}
</div>
<div id="items">
  {{~ it.items :item }}
    {{? item }}
    {{# def.listitem }}
    {{?}}
  {{~}}
</div>
<!-- /list.jst -->