<!-- profile.jst -->
<h1><img src="{{= it.thumb }}" />
  {{= it.name }}
  <a href="/profile/edit" id="editProfile" class="editBtn">✎</a>
</h1>
<p class="member-data">{{= it.location }}</p>
<!-- TODO: add connections
  (other members who can add you to lists without verification) -->
<!-- /profile.jst -->